* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Share Tech Mono", monospace;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.2em;
}

.rightnav a {
  color: black;
  text-decoration: none;
  margin: 20px;
}
.rightnav a:hover {
  border-bottom: 2px solid gray;
}

.leftnav ul {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  list-style: none;
}
.leftnav ul i {
  color: black;
}
.leftnav ul i:hover {
  transform: scale(1.4);
}

.me {
  height: 75vh;
  margin: 100px 30% 10px 30%;
  text-align: center;
}
.me img {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 50%;
  height: 200px;
}
.me h1 {
  font-size: 1.2em;
  margin-top: 150px;
}

.parallax-1 {
  background: url("1.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}
.parallax-2 {
  background: url("2.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}
.parallax-3 {
  background: url("3.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}
.parallax-4 {
  background: url("4.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}
.parallax-5 {
  background: url("5.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}
.parallax-6 {
  background: url("6.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 11px 20px -10px #000, inset 0px -11px 20px -10px #000;
}

.project {
  margin-top: 10px;
  text-align: center;
  background-color: white;
  height: 150px;
}
.project h1 {
  font-size: 2em;
  text-transform: capitalize;
}

.tpo {
  color: black;
  text-decoration: none;
  padding-top: 20px;
}

.contact {
  text-align: center;
  margin-top: 150px;
}
.contact button, .contact p {
  display: inline;
  margin: 0 10px;
}
.contact button {
  padding: 5px 10px;
  border-radius: 5px;
}
.contact button:hover {
  transform: scale(1.2);
}
.contact a {
  text-decoration: none;
  color: black;
}

#cont {
  display: none;
  margin-top: 20px;
}

.hide:focus ~ #cont {
  display: block;
}

.social {
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style: none;
}
.social i {
  transform: scale(3);
  color: black;
}
.social i:hover {
  transform: scale(3.5);
}
.social li {
  margin: 40px 40px;
}

audio#aH {
  position: absolute;
  top: 133vh;
  left: 72vh;
  z-index: 2;
  opacity: 0.01;
  transform: rotate(90deg) scale(5);
}

.download {
  margin-top: 50px;
  text-align: center;
}
.download button {
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 10px;
}

/*# sourceMappingURL=portfolio.css.map */
