.parallax{
  background: url(appel.jpg);
  height: 150vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project{
  text-align: center;
  background-color: white;
  height: 200px;
}
#work1{

}
